<ion-header>
  <ion-toolbar>
    <ion-title>{{ playlist.eventName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      [value]="selectedView"
      (ionChange)="onSegmentChanged($event.target.value)">
      <ion-segment-button value="0">Songs</ion-segment-button>
      <ion-segment-button *ngIf="viewAs == 1" value="1">Detail</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-songs *ngIf="selectedView == 0" [songs]="playlist.songs"></app-songs>

  <app-playlist-editor
    *ngIf="selectedView == 1"
    [playlist]="playlist"
    (savePlaylist)="onSavePlaylist(playlist)"
  ></app-playlist-editor>
</ion-content>
